<ion-header>
  <ion-toolbar>
    <ion-title>
      Escaape
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding align-self-center>
  <ion-list class="form-list" padding-start padding-end margin-top margin-bottom>
    <ion-item margin-bottom>
      <ion-input placeholder="Champ 1" [(ngModel)]="field1"></ion-input>
    </ion-item>
    <ion-item margin-bottom>
      <ion-input placeholder="Champ 2" [(ngModel)]="field2"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button color="primary" shape="round" expand="full" margin-bottom (click)="onSubmit()">Valider</ion-button>

  <ion-card margin-top>    
    <ion-card-content [innerHTML]=response>
    </ion-card-content>
  </ion-card>
</ion-content>
